<!doctype html>
<html lang="en">

<head>
    <title>Electron Motors</title>
    <% include ../partials/header.ejs %>
    <meta name="salesforce-community" content="https://sandbox-drive-customer-1139-dev-ed-16b5c07758c.cs89.force.com">
    <meta name="salesforce-client-id" content="3MVG9sSN_PMn8tjRW7DqQghuor_g757EsK.gGwGpuKOP1OzBD34pV2J.CHeWMZXTOe_noVOs2DeqCAJRVL1Jl">
    <meta name="redirect-uri" content="https://electron-identity.herokuapp.com/_callback">
    <meta name="salesforce-mode" content="modal">
    <meta name="salesforce-save-access-token" content="true">
    <meta name="salesforce-forgot-password-enabled" content="true>">
    <meta name="salesforce-self-register-enabled" content="<true>">
    <meta name="salesforce-login-handler" content="onLogin">
    <meta name="salesforce-logout-handler" content="onLogout">

</head>

<body class="home">
    <div id="app" class="page-wrapper">
        <div>
            <% include ../partials/nav.ejs %>
        </div>
        <div class="main text-center">
            <h1>And go.</h1>
            <div id="car-wrapper">
                <img id="car-photo" v-bind:src="'/images/' + vehicle.model__c.toLowerCase() + '.png'" v-bind:style="{'-webkit-filter': 'hue-rotate(' + vehicle.paint__c + 'deg)'}" />
            </div>
            <div class="actions">
                <button>Test Drive</button>
                <button onclick="location.href='/customize'" class="primary">Customize</button>
            </div>
        </div>
        <div>
            <% include ../partials/login.ejs %>
        </div>
    </div>
    <div>
        <% include ../partials/footer.ejs %>
    </div>
    <script>
        function onLogin(identity) {
            var targetDiv = document.querySelector(SFIDWidget.config.target);
            var avatar = document.createElement('a');
             avatar.href = "javascript:showIdentityOverlay();";
            var img = document.createElement('img');
             img.src = identity.photos.thumbnail;
            img.className = "sfid-avatar";
            var username = document.createElement('span');
            username.innerHTML = identity.username;
            username.className = "sfid-avatar-name";
            var iddiv = document.createElement('div');
             iddiv.id = "sfid-identity";
            avatar.appendChild(img);
            avatar.appendChild(username);
            iddiv.appendChild(avatar);
            targetDiv.innerHTML = '';
            targetDiv.appendChild(iddiv);
          }

          function onLogout() {
            SFIDWidget.init();
          }
    </script>
</body>

</html>
