<!doctype html>
<html lang="en">

<head>
    <title>Electron Motors</title>
    <% include ../partials/header.ejs %>

</head>

<body class="home">
    <div id="app" class="page-wrapper">
        <div>
            <% include ../partials/nav.ejs %>
        </div>
        <div class="main text-center">
            <h1>And go.</h1>
            <div id="car-wrapper">
                <img id="car-photo" v-bind:src="'/images/' + vehicle.model__c.toLowerCase() + '.png'" v-bind:style="{'-webkit-filter': 'hue-rotate(' + vehicle.paint__c + 'deg)'}" />
            </div>
            <div class="actions">
                <button id="testdrive_btn" style="visibility: hidden;">Test Drive</button>
                <button id="customize_btn" onclick="location.href='/customize'" class="primary" style="visibility: hidden;">Customize</button>
            </div>
        </div>
        <div>
           <!-- <% include ../partials/login.ejs %> -->
           <a id="logoutItem" href="javascript:SFIDWidget.logout();SFIDWidget.cancel();onLogout();" style="display: none;">Logout</a>
        </div>
    </div>
    <div>
        <% include ../partials/footer.ejs %>
    </div>
    <script>
        function onLogin(identity) {
                var targetDiv = document.querySelector(SFIDWidget.config.target);
                var avatar = document.createElement('a');
                 avatar.href = "javascript:showIdentityOverlay();";
                var img = document.createElement('img');
                 img.src = identity.photos.thumbnail;
                img.className = "sfid-avatar";
		    
		var logout = document.getElementById("logoutItem");
                logout.style.display = "block";
		var customize_btn = document.getElementById("customize_btn");
                customize_btn.style.visibility = "visible";
		var testdrive_btn = document.getElementById("testdrive_btn");
                testdrive_btn.style.visibility = "visible";
		    
                var username = document.createElement('span');
                username.innerHTML = identity.username;
                username.className = "sfid-avatar-name";
                var iddiv = document.createElement('div');
                 iddiv.id = "sfid-identity";
                avatar.appendChild(img);
                avatar.appendChild(username);
                iddiv.appendChild(avatar);
                targetDiv.innerHTML = '';
                targetDiv.appendChild(iddiv);
              }
    
              function showIdentityOverlay() {
	
                var lightbox = document.createElement('div'); 
                lightbox.className = "sfid-lightbox";
                lightbox.id = "sfid-login-overlay";
                lightbox.setAttribute("onClick", "SFIDWidget.cancel();");
                var wrapper = document.createElement('div'); 
                wrapper.id = "identity-wrapper";
                wrapper.onclick = function(event) {
                    event = event || window.event // cross-browser event
                    if (event.stopPropagation) {
                        // W3C standard variant
                        event.stopPropagation()
                    } else {
                        // IE variant
                        event.cancelBubble = true
                    }
                }
                var content = document.createElement('div'); 
                content.id = "sfid-content";
                var community = document.createElement('a');
                var commURL = document.querySelector('meta[name="salesforce-community"]').content;
                community.href = commURL;
                community.innerHTML = "Go to the Community";
                community.setAttribute("style", "float:left");
                content.appendChild(community);
		
                var t = document.createElement('div'); 
                t.id = "sfid-token";
                t.className = "sfid-mb24";
                var p = document.createElement('pre'); 
                p.innerHTML = JSON.stringify(SFIDWidget.openid_response, undefined, 2);
                t.appendChild(p);
                content.appendChild(t);
                wrapper.appendChild(content);
                lightbox.appendChild(wrapper);
                document.body.appendChild(lightbox);	
		
	}
	
	
	function onLogout() {
	    var logout = document.getElementById("logoutItem");
                logout.style.display = "none";
	var customize_btn = document.getElementById("customize_btn");
                customize_btn.style.visibility = "hidden";
	var testdrive_btn = document.getElementById("testdrive_btn");
                testdrive_btn.style.visibility = "hidden";
	 //   window.location.pathname= '/';
	    location.reload("/");
  
	}
	
    </script>
</body>

</html>
